# FUNCTIONS

In [1]:
print("This is my print funciton")

This is my print funciton

In [2]:
l = [1,13,564,564,6132,132,132,546]

In [3]:
l

[1, 13, 564, 564, 6132, 132, 132, 546]

In [4]:
type(l)

list

In [5]:
len(l)

8

In [6]:
# Function is defined by the keyword "def"

In [7]:
# def test() :

# we can not create an empty function. it will give error
# if we want to do so then we have to use the keyword "pass"

'''Error :
Cell In[7], line 2
    ^
SyntaxError: incomplete input '''

'Error :\nCell In[7], line 2\n    ^\nSyntaxError: incomplete input '

In [8]:
def test() :
    pass

In [9]:
def test1() :
    print("This is my very very 1st function")

In [10]:
test1()

This is my very very 1st function

In [11]:
test()

In [12]:
type(test1())

This is my very very 1st function

NoneType

In [13]:
#test1() + 'puru'

''' Error
---------------------------------------------------------------------------
TypeError                                 Traceback (most recent call last)
Cell In[16], line 1
----> 1 test1() + 'puru'

TypeError: unsupported operand type(s) for +: 'NoneType' and 'str' '''

" Error\n---------------------------------------------------------------------------\nTypeError                                 Traceback (most recent call last)\nCell In[16], line 1\n----> 1 test1() + 'puru'\n\nTypeError: unsupported operand type(s) for +: 'NoneType' and 'str' "

# Return keyword

In [14]:
def test2() :
    return "This is my very first return of function name 'test2' "

In [15]:
test2()

"This is my very first return of function name 'test2' "

In [16]:
test2() + "Hello function"

"This is my very first return of function name 'test2' Hello function"

In [17]:
test2() + "--> Puru"

"This is my very first return of function name 'test2' --> Puru"

In [18]:
def test3() :
    return "puru", 123, 465.132, [1,2,3,4,5]

In [19]:
test3()

('puru', 123, 465.132, [1, 2, 3, 4, 5])

In [20]:
a, b, c, d = test3()

In [21]:
a

'puru'

In [22]:
b

123

In [23]:
c

465.132

In [24]:
d

[1, 2, 3, 4, 5]

In [25]:
a = 1
b = 4

In [26]:
a, b = 1, 4

In [27]:
a

1

In [28]:
b

4

In [29]:
test3()

('puru', 123, 465.132, [1, 2, 3, 4, 5])

In [30]:
a,b,c,d = test3()

In [31]:
a

'puru'

In [32]:
b

123

In [33]:
c

465.132

In [34]:
d

[1, 2, 3, 4, 5]

In [35]:
def test4() :
    a = 5 + 6 / 1
    return a

In [36]:
test4()

11.0

In [37]:
def test5(a, b, c) :
    d = a + b / c
    return d

In [38]:
# test5()
''' Error
---------------------------------------------------------------------------
TypeError                                 Traceback (most recent call last)
Cell In[52], line 1
----> 1 test5()

TypeError: test5() missing 3 required positional arguments: 'a', 'b', and 'c' '''

" Error\n---------------------------------------------------------------------------\nTypeError                                 Traceback (most recent call last)\nCell In[52], line 1\n----> 1 test5()\n\nTypeError: test5() missing 3 required positional arguments: 'a', 'b', and 'c' "

In [39]:
test5(1,2,3)

1.6666666666666665

In [40]:
def test6(a,b) :
    return a + b

In [41]:
test6(1,2)

3

In [42]:
test6("anand", " puru")

'anand puru'

In [43]:
test6([1,2,3,4,5,6], [7,8,9,10,11])

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]

In [44]:
l = [1,2,3,4,65, "Puru", "anand", [654,654,6562,31,645]]

In [45]:
l1 = []
for i in l :
    if type(i) == int or type(i) == float :
        l1.append(i)

In [46]:
l1

[1, 2, 3, 4, 65]

In [47]:
def test7(l) :
    l1 = []
    for i in l :
        if type(i) == int or type(i) == float :
            l1.append(i)
    return l1

In [48]:
test7(l)

[1, 2, 3, 4, 65]

In [49]:
l

[1, 2, 3, 4, 65, 'Puru', 'anand', [654, 654, 6562, 31, 645]]

In [50]:
def test8(a) :
    l = []
    for i in a :
        if type(i) == list :
            for j in i :
                l.append(j)
        else :
            if type(i) == int or type(i) == float :
                l.append(i)
    return l

In [51]:
a = [1,2,45,6565,13213, "Puru", "anand", [654,8912,6562,3112,64501]]

In [52]:
test8(a)

[1, 2, 45, 6565, 13213, 654, 8912, 6562, 3112, 64501]

In [53]:
test8(l)

[1, 2, 3, 4, 65, 654, 654, 6562, 31, 645]

In [54]:
l

[1, 2, 3, 4, 65, 'Puru', 'anand', [654, 654, 6562, 31, 645]]

In [55]:
a

[1, 2, 45, 6565, 13213, 'Puru', 'anand', [654, 8912, 6562, 3112, 64501]]

# Creating "Docstring" for a function

In [56]:
def test9(a) :
    '''Creator : Purushottam Anand \n
    This is my function to extract numeric data from a list'''
    l = []
    for i in a :
        if type(i) == list :
            for j in i :
                l.append(j)
        else :
            if type(i) == int or type(i) == float :
                l.append(i)
    return l

# Passing Dynamic Parameters to a function

In [57]:
def test10(*args) :
    return args

by using '*' (asterisk) before variable name, we can pass n numbers of arguments into a function

In [58]:
test10()

()

In [59]:
type(test10())

tuple

In [60]:
test10(1,2,3)

(1, 2, 3)

In [61]:
test10(1,2,3,"puru", "anand", [6,5,23,56])

(1, 2, 3, 'puru', 'anand', [6, 5, 23, 56])

In [62]:
def test11(*puru) :
    return puru

In [63]:
test11("anand")

('anand',)

In [64]:
def test12(*anand) :
    return anand

In [65]:
test12(("puru", "anand", ["pwskills"]))

(('puru', 'anand', ['pwskills']),)

In [66]:
def test13(*args, a) :
    return args, a

In [67]:
# test13(1,2,3,5)
''' Error :
---------------------------------------------------------------------------
TypeError                                 Traceback (most recent call last)
Cell In[86], line 1
----> 1 test13(1,2,3,5)

TypeError: test13() missing 1 required keyword-only argument: 'a' '''

" Error :\n---------------------------------------------------------------------------\nTypeError                                 Traceback (most recent call last)\nCell In[86], line 1\n----> 1 test13(1,2,3,5)\n\nTypeError: test13() missing 1 required keyword-only argument: 'a' "

In [68]:
test13(1,2,3, a = "puru")

((1, 2, 3), 'puru')

In [69]:
def test14(c,d,a = 23, b = 1) :
    return  c,d,a,b

In [70]:
test14(16,12)

(16, 12, 23, 1)

In [71]:
def test14(c,d,a = 23, b = 1) :
    return  a,b,c,d

In [72]:
test14(16,12)

(23, 1, 16, 12)

In [73]:
test14(16,12, a = 50)

(50, 1, 16, 12)

In [74]:
def test15(**kwargs) :
    '''Creator : Purushottam\n
    This test15() function is used to take dictionary as input'''
    return kwargs

In [75]:
test15()

{}

In [76]:
type(test15())

dict

In [77]:
test15(a = [1,2,3,4,5], b = "puru", c = 32.15)

{'a': [1, 2, 3, 4, 5], 'b': 'puru', 'c': 32.15}

# --------------------------------------- END ---------------------------------------