PRACTICE STARTS
----------------------------------------------------------------

In [580]:
print("Checking print output")

Checking print output

In [581]:
l = [1,2,2323,2423,2523,2623]

In [582]:
len(l)

6

In [583]:
type(l)

list

In [584]:
for i in l :
    print(i)

1
2
2323
2423
2523
2623

In [585]:
l1 = []

for i in l:
    l1.append(i)

print(l1)

[1, 2, 2323, 2423, 2523, 2623]

In [586]:
l

[1, 2, 2323, 2423, 2523, 2623]

In [587]:
l1

[1, 2, 2323, 2423, 2523, 2623]

In [588]:
def test():
    pass

In [589]:
def test1():
    print("This is my first test function")

In [590]:
test1()

This is my first test function

In [591]:
# test1 + "puru"

Error = '''---------------------------------------------------------------------------
TypeError                                 Traceback (most recent call last)
Cell In[34], line 1
----> 1 test1 + "puru"

TypeError: unsupported operand type(s) for +: 'function' and 'str'
'''

In [592]:
def test2():
    return "This is my second function using Return type"

In [593]:
test2()

'This is my second function using Return type'

In [594]:
type(test2())

str

In [595]:
type(test1())

This is my first test function

NoneType

In [596]:
test2() + " - adding value : puru"

'This is my second function using Return type - adding value : puru'

In [597]:
def test3():
    
    return "puru", 1, 2, 3, [4, 5, 6, 7, 8, 9]

In [598]:
test3()

('puru', 1, 2, 3, [4, 5, 6, 7, 8, 9])

In [599]:
type(test3())

tuple

In [600]:
a,b,c,d,e = test3()

In [601]:
a

'puru'

In [602]:
b

1

In [603]:
c

2

In [604]:
d

3

In [605]:
e

[4, 5, 6, 7, 8, 9]

In [606]:
x = 5
y = 10

In [607]:
x

5

In [608]:
y

10

In [609]:
x, y = 1, 2

In [610]:
x

1

In [611]:
y

2

In [612]:
def test4():
    a = 5 + 6 / 7
    return a

In [613]:
test4()

5.857142857142857

In [614]:
test4() + 100

105.85714285714286

In [615]:
def test5(a, b, c):
    d = a + b / c
    return d

In [616]:
# test5()

Error = '''---------------------------------------------------------------------------
TypeError                                 Traceback (most recent call last)
Cell In[40], line 1
----> 1 test5()

TypeError: test5() missing 3 required positional arguments: 'a', 'b', and 'c'
'''

In [617]:
test5(100,200,2)

200.0

In [618]:
def test6(a, b):
    return a + b

In [619]:
test6(5, 10)

15

In [620]:
test6("puru", " anand")

'puru anand'

In [621]:
type(test6("puru", " anand"))

str

In [622]:
type(test6(1,2))

int

In [623]:
type(test6([1,2,3], [6,67,45]))

list

In [624]:
test6([1,2,3], [6,67,45])

[1, 2, 3, 6, 67, 45]

Put out all the integer values from the given list

In [625]:
l = [1,2,3,4, "anand", "puru", [34,23,45,231]]

In [626]:
l1 = []

for i in l:
    if type(i) == int or type(i) == float:
        l1.append(i)

print(l1)

[1, 2, 3, 4]

In [627]:
l2 = []

for i in l:
    if type(i) == list:
        l2.append(i)

print(l2)

[[34, 23, 45, 231]]

Write a function to put out all the integers from the list 'l'

In [628]:
l

[1, 2, 3, 4, 'anand', 'puru', [34, 23, 45, 231]]

In [629]:
def test7(l):

    l1 = []

    for i in l:
        if type(i) == int or type(i) == float:
            l1.append(i)
    
    return l1

In [630]:
l

[1, 2, 3, 4, 'anand', 'puru', [34, 23, 45, 231]]

In [631]:
l = [12,14,234,34645,34634,23425, 'anand', 'puru', [34, 23, 45, 231]]

In [632]:
test7(l)

[12, 14, 234, 34645, 34634, 23425]

In [633]:
l

[12, 14, 234, 34645, 34634, 23425, 'anand', 'puru', [34, 23, 45, 231]]

Put out all the integer values from the given list

In [634]:
def test8(a):
    
    l = []

    for i in a:
        if type(i) == list:
            for j in i:
                if type(j) == int:
                    l.append(j)
                else:
                    continue
        else:
            if type(i) == int or type(i) == float:
                l.append(i)
                
    
    return l

In [635]:
l

[12, 14, 234, 34645, 34634, 23425, 'anand', 'puru', [34, 23, 45, 231]]

In [636]:
test8(l)

[12, 14, 234, 34645, 34634, 23425, 34, 23, 45, 231]

In [637]:
l = [12,14,234,34645,34634,23425, 'anand', 'puru', [34, 23, "xyz", 45, 231]]

In [638]:
test8(l)

[12, 14, 234, 34645, 34634, 23425, 34, 23, 45, 231]

Creating "Docstring" of a Fucntion

In [639]:
def test9(a):
    """This is my function to extract numeric values from a list"""

    l = []

    for i in a:
        if type(i) == list:
            for j in i:
                if type(j) == int:
                    l.append(j)
                else:
                    continue
        else:
            if type(i) == int or type(i) == float:
                l.append(i)
                
    
    return l

In [640]:
def test10(a, b):
    return a + b

Defining "Dynamic" input values for a Function
- Using '*' asterisk to do so : *args
- Standard keyword is 'args'
- We can use any other keyword other than 'args'

In [641]:
def test11(*args):
    return args

In [642]:
type(test11())

tuple

In [643]:
test11(1,2,3,43,44,45,)

(1, 2, 3, 43, 44, 45)

In [644]:
test11('abc', 'xyz', 1,2,3, [12,24,43])

('abc', 'xyz', 1, 2, 3, [12, 24, 43])

In [645]:
def test12(*puru):
    return puru

In [646]:
test12(1,2,23,23,24,234,324,32,432,532532)

(1, 2, 23, 23, 24, 234, 324, 32, 432, 532532)

In [647]:
def test13(*args, a):
    return args, a

In [648]:
# test13(1,2,2,3,4,5,6,7,8,9)

Error = '''---------------------------------------------------------------------------
TypeError                                 Traceback (most recent call last)
Cell In[339], line 1
----> 1 test13(1,2,2,3,4,5,6,7,8,9)

TypeError: test13() missing 1 required keyword-only argument: 'a'
---------------------------------------------------------------------------'''

In [649]:
test13(1,2,2,3,4,5,6,7,8,9, a = 10)

((1, 2, 2, 3, 4, 5, 6, 7, 8, 9), 10)

In [650]:
# def test14(a = 1, b = 2, c, d):
#     return a,b,c,d

Error = '''  Cell In[413], line 1
    def test14(a = 1, b = 2, c, d):
                             ^
SyntaxError: non-default argument follows default argument
'''

In [651]:
def test14(c, d, a = 1, b = 2):
    return a,b,c,d

In [652]:
# test14()

Error = '''---------------------------------------------------------------------------
TypeError                                 Traceback (most recent call last)
Cell In[416], line 1
----> 1 test14()

TypeError: test14() missing 2 required positional arguments: 'c' and 'd'
'''

In [653]:
test14(12,13)

(1, 2, 12, 13)

In [654]:
test14(2, 20, 200, 300)

(200, 300, 2, 20)

Using *kwargs for values in the form of Dictionary - Key : Value

In [655]:
def test15(**kwargs):
    return kwargs

In [656]:
test15()

{}

In [657]:
type(test15())

dict

In [658]:
test15(a = 1, b = "anand", c = [12,123,234])

{'a': 1, 'b': 'anand', 'c': [12, 123, 234]}

-----------------
# PRACTICE ENDS