In [342]:
# ðŸ’» Update `Practice examples`

In [343]:
print("Checking print output")

Checking print output

In [344]:
l = [1,2,2323,2423,2523,2623]

In [345]:
len(l)

6

In [346]:
type(l)

list

In [347]:
for i in l :
    print(i)

1
2
2323
2423
2523
2623

In [348]:
l1 = []

for i in l:
    l1.append(i)

print(l1)

[1, 2, 2323, 2423, 2523, 2623]

In [349]:
l

[1, 2, 2323, 2423, 2523, 2623]

In [350]:
l1

[1, 2, 2323, 2423, 2523, 2623]

In [351]:
def test():
    pass

In [352]:
def test1():
    print("This is my first test function")

In [353]:
test1()

This is my first test function

In [354]:
# test1 + "puru"

Error = '''---------------------------------------------------------------------------
TypeError                                 Traceback (most recent call last)
Cell In[34], line 1
----> 1 test1 + "puru"

TypeError: unsupported operand type(s) for +: 'function' and 'str'
'''

In [355]:
def test2():
    return "This is my second function using Return type"

In [356]:
test2()

'This is my second function using Return type'

In [357]:
type(test2())

str

In [358]:
type(test1())

This is my first test function

NoneType

In [359]:
test2() + " - adding value : puru"

'This is my second function using Return type - adding value : puru'

In [360]:
def test3():
    
    return "puru", 1, 2, 3, [4, 5, 6, 7, 8, 9]

In [361]:
test3()

('puru', 1, 2, 3, [4, 5, 6, 7, 8, 9])

In [362]:
type(test3())

tuple

In [363]:
a,b,c,d,e = test3()

In [364]:
a

'puru'

In [365]:
b

1

In [366]:
c

2

In [367]:
d

3

In [368]:
e

[4, 5, 6, 7, 8, 9]

In [369]:
x = 5
y = 10

In [370]:
x

5

In [371]:
y

10

In [372]:
x, y = 1, 2

In [373]:
x

1

In [374]:
y

2

In [375]:
def test4():
    a = 5 + 6 / 7
    return a

In [376]:
test4()

5.857142857142857

In [377]:
test4() + 100

105.85714285714286

In [378]:
def test5(a, b, c):
    d = a + b / c
    return d

In [379]:
# test5()

Error = '''---------------------------------------------------------------------------
TypeError                                 Traceback (most recent call last)
Cell In[40], line 1
----> 1 test5()

TypeError: test5() missing 3 required positional arguments: 'a', 'b', and 'c'
'''

In [380]:
test5(100,200,2)

200.0

In [381]:
def test6(a, b):
    return a + b

In [382]:
test6(5, 10)

15

In [383]:
test6("puru", " anand")

'puru anand'

In [384]:
type(test6("puru", " anand"))

str

In [385]:
type(test6(1,2))

int

In [386]:
type(test6([1,2,3], [6,67,45]))

list

In [387]:
test6([1,2,3], [6,67,45])

[1, 2, 3, 6, 67, 45]

Put out all the integer values from the given list

In [388]:
l = [1,2,3,4, "anand", "puru", [34,23,45,231]]

In [389]:
l1 = []

for i in l:
    if type(i) == int or type(i) == float:
        l1.append(i)

print(l1)

[1, 2, 3, 4]

In [390]:
l2 = []

for i in l:
    if type(i) == list:
        l2.append(i)

print(l2)

[[34, 23, 45, 231]]

Write a function to put out all the integers from the list 'l'

In [391]:
l

[1, 2, 3, 4, 'anand', 'puru', [34, 23, 45, 231]]

In [392]:
def test7(l):

    l1 = []

    for i in l:
        if type(i) == int or type(i) == float:
            l1.append(i)
    
    return l1

In [393]:
l

[1, 2, 3, 4, 'anand', 'puru', [34, 23, 45, 231]]

In [394]:
l = [12,14,234,34645,34634,23425, 'anand', 'puru', [34, 23, 45, 231]]

In [395]:
test7(l)

[12, 14, 234, 34645, 34634, 23425]

In [396]:
l

[12, 14, 234, 34645, 34634, 23425, 'anand', 'puru', [34, 23, 45, 231]]

Put out all the integer values from the given list

In [397]:
def test8(a):
    
    l = []

    for i in a:
        if type(i) == list:
            for j in i:
                if type(j) == int:
                    l.append(j)
                else:
                    continue
        else:
            if type(i) == int or type(i) == float:
                l.append(i)
                
    
    return l

In [398]:
l

[12, 14, 234, 34645, 34634, 23425, 'anand', 'puru', [34, 23, 45, 231]]

In [399]:
test8(l)

[12, 14, 234, 34645, 34634, 23425, 34, 23, 45, 231]

In [400]:
l = [12,14,234,34645,34634,23425, 'anand', 'puru', [34, 23, "xyz", 45, 231]]

In [401]:
test8(l)

[12, 14, 234, 34645, 34634, 23425, 34, 23, 45, 231]

Creating "Docstring" of a Fucntion

In [402]:
def test9(a):
    """This is my function to extract numeric values from a list"""

    l = []

    for i in a:
        if type(i) == list:
            for j in i:
                if type(j) == int:
                    l.append(j)
                else:
                    continue
        else:
            if type(i) == int or type(i) == float:
                l.append(i)
                
    
    return l

In [403]:
def test10(a, b):
    return a + b

Defining "Dynamic" input values for a Function
- Using '*' asterisk to do so : *args
- Standard keyword is 'args'
- We can use any other keyword other than 'args'

In [404]:
def test11(*args):
    return args

In [405]:
type(test11())

tuple

In [406]:
test11(1,2,3,43,44,45,)

(1, 2, 3, 43, 44, 45)

In [407]:
test11('abc', 'xyz', 1,2,3, [12,24,43])

('abc', 'xyz', 1, 2, 3, [12, 24, 43])

In [408]:
def test12(*puru):
    return puru

In [409]:
test12(1,2,23,23,24,234,324,32,432,532532)

(1, 2, 23, 23, 24, 234, 324, 32, 432, 532532)

In [410]:
def test13(*args, a):
    return args, a

In [411]:
# test13(1,2,2,3,4,5,6,7,8,9)

Error = '''---------------------------------------------------------------------------
TypeError                                 Traceback (most recent call last)
Cell In[339], line 1
----> 1 test13(1,2,2,3,4,5,6,7,8,9)

TypeError: test13() missing 1 required keyword-only argument: 'a'
---------------------------------------------------------------------------'''

In [412]:
test13(1,2,2,3,4,5,6,7,8,9, a = 10)

((1, 2, 2, 3, 4, 5, 6, 7, 8, 9), 10)