In [2]:
# ðŸ’» Update `Practice examples`

In [3]:
print("Checking print output")

Checking print output

In [4]:
l = [1,2,2323,2423,2523,2623]

In [5]:
len(l)

6

In [6]:
type(l)

list

In [7]:
for i in l :
    print(i)

1
2
2323
2423
2523
2623

In [8]:
l1 = []

for i in l:
    l1.append(i)

print(l1)

[1, 2, 2323, 2423, 2523, 2623]

In [9]:
l

[1, 2, 2323, 2423, 2523, 2623]

In [10]:
l1

[1, 2, 2323, 2423, 2523, 2623]

In [11]:
def test():
    pass

In [12]:
def test1():
    print("This is my first test function")

In [13]:
test1()

This is my first test function

In [14]:
# test1 + "puru"

Error = '''---------------------------------------------------------------------------
TypeError                                 Traceback (most recent call last)
Cell In[34], line 1
----> 1 test1 + "puru"

TypeError: unsupported operand type(s) for +: 'function' and 'str'
'''

In [15]:
def test2():
    return "This is my second function using Return type"

In [16]:
test2()

'This is my second function using Return type'

In [17]:
type(test2())

str

In [18]:
type(test1())

This is my first test function

NoneType

In [19]:
test2() + " - adding value : puru"

'This is my second function using Return type - adding value : puru'

In [20]:
def test3():
    
    return "puru", 1, 2, 3, [4, 5, 6, 7, 8, 9]

In [21]:
test3()

('puru', 1, 2, 3, [4, 5, 6, 7, 8, 9])

In [22]:
type(test3())

tuple

In [23]:
a,b,c,d,e = test3()