In [2]:
# ðŸ’» Update `Practice examples`

In [3]:
print("Checking print output")

Checking print output

In [4]:
l = [1,2,2323,2423,2523,2623]

In [5]:
len(l)

6

In [6]:
type(l)

list

In [7]:
for i in l :
    print(i)

1
2
2323
2423
2523
2623

In [8]:
l1 = []

for i in l:
    l1.append(i)

print(l1)

[1, 2, 2323, 2423, 2523, 2623]

In [9]:
l

[1, 2, 2323, 2423, 2523, 2623]

In [10]:
l1

[1, 2, 2323, 2423, 2523, 2623]

In [11]:
def test():
    pass

In [12]:
def test1():
    print("This is my first test function")

In [13]:
test1()

This is my first test function

In [14]:
# test1 + "puru"

Error = '''---------------------------------------------------------------------------
TypeError                                 Traceback (most recent call last)
Cell In[34], line 1
----> 1 test1 + "puru"

TypeError: unsupported operand type(s) for +: 'function' and 'str'
'''

In [15]:
def test2():
    return "This is my second function using Return type"

In [16]:
test2()

'This is my second function using Return type'

In [17]:
type(test2())

str

In [18]:
type(test1())

This is my first test function

NoneType

In [19]:
test2() + " - adding value : puru"

'This is my second function using Return type - adding value : puru'

In [20]:
def test3():
    
    return "puru", 1, 2, 3, [4, 5, 6, 7, 8, 9]

In [21]:
test3()

('puru', 1, 2, 3, [4, 5, 6, 7, 8, 9])

In [22]:
type(test3())

tuple

In [23]:
a,b,c,d,e = test3()

In [24]:
a

'puru'

In [25]:
b

1

In [26]:
c

2

In [27]:
d

3

In [28]:
e

[4, 5, 6, 7, 8, 9]

In [29]:
x = 5
y = 10

In [30]:
x

5

In [31]:
y

10

In [32]:
x, y = 1, 2

In [34]:
x

1

In [35]:
y

2

In [36]:
def test4():
    a = 5 + 6 / 7
    return a

In [37]:
test4()

5.857142857142857

In [38]:
test4() + 100

105.85714285714286

In [39]:
def test5(a, b, c):
    d = a + b / c
    return d

In [41]:
# test5()

Error = '''---------------------------------------------------------------------------
TypeError                                 Traceback (most recent call last)
Cell In[40], line 1
----> 1 test5()

TypeError: test5() missing 3 required positional arguments: 'a', 'b', and 'c'
'''

In [47]:
test5(100,200,2)

200.0

In [48]:
def test6(a, b):
    return a + b

In [49]:
test6(5, 10)

15

In [51]:
test6("puru", " anand")

'puru anand'

In [53]:
type(test6("puru", " anand"))

str

In [54]:
type(test6(1,2))

int

In [55]:
type(test6([1,2,3], [6,67,45]))

list

In [56]:
test6([1,2,3], [6,67,45])

[1, 2, 3, 6, 67, 45]

In [57]:
l = [1,2,3,4, "anand", "puru", [34,23,45,231]]

In [58]:
# Write a function to put out all the integers from the list 'l'