In [147]:
# ðŸ’» Update `Practice examples`

In [148]:
print("Checking print output")

Checking print output

In [149]:
l = [1,2,2323,2423,2523,2623]

In [150]:
len(l)

6

In [151]:
type(l)

list

In [152]:
for i in l :
    print(i)

1
2
2323
2423
2523
2623

In [153]:
l1 = []

for i in l:
    l1.append(i)

print(l1)

[1, 2, 2323, 2423, 2523, 2623]

In [154]:
l

[1, 2, 2323, 2423, 2523, 2623]

In [155]:
l1

[1, 2, 2323, 2423, 2523, 2623]

In [156]:
def test():
    pass

In [157]:
def test1():
    print("This is my first test function")

In [158]:
test1()

This is my first test function

In [159]:
# test1 + "puru"

Error = '''---------------------------------------------------------------------------
TypeError                                 Traceback (most recent call last)
Cell In[34], line 1
----> 1 test1 + "puru"

TypeError: unsupported operand type(s) for +: 'function' and 'str'
'''

In [160]:
def test2():
    return "This is my second function using Return type"

In [161]:
test2()

'This is my second function using Return type'

In [162]:
type(test2())

str

In [163]:
type(test1())

This is my first test function

NoneType

In [164]:
test2() + " - adding value : puru"

'This is my second function using Return type - adding value : puru'

In [165]:
def test3():
    
    return "puru", 1, 2, 3, [4, 5, 6, 7, 8, 9]

In [166]:
test3()

('puru', 1, 2, 3, [4, 5, 6, 7, 8, 9])

In [167]:
type(test3())

tuple

In [168]:
a,b,c,d,e = test3()

In [169]:
a

'puru'

In [170]:
b

1

In [171]:
c

2

In [172]:
d

3

In [173]:
e

[4, 5, 6, 7, 8, 9]

In [174]:
x = 5
y = 10

In [175]:
x

5

In [176]:
y

10

In [177]:
x, y = 1, 2

In [178]:
x

1

In [179]:
y

2

In [180]:
def test4():
    a = 5 + 6 / 7
    return a

In [181]:
test4()

5.857142857142857

In [182]:
test4() + 100

105.85714285714286

In [183]:
def test5(a, b, c):
    d = a + b / c
    return d

In [184]:
# test5()

Error = '''---------------------------------------------------------------------------
TypeError                                 Traceback (most recent call last)
Cell In[40], line 1
----> 1 test5()

TypeError: test5() missing 3 required positional arguments: 'a', 'b', and 'c'
'''

In [185]:
test5(100,200,2)

200.0

In [186]:
def test6(a, b):
    return a + b

In [187]:
test6(5, 10)

15

In [188]:
test6("puru", " anand")

'puru anand'

In [189]:
type(test6("puru", " anand"))

str

In [190]:
type(test6(1,2))

int

In [191]:
type(test6([1,2,3], [6,67,45]))

list

In [192]:
test6([1,2,3], [6,67,45])

[1, 2, 3, 6, 67, 45]

Put out all the integer values from the given list

In [193]:
l = [1,2,3,4, "anand", "puru", [34,23,45,231]]

In [194]:
l1 = []

for i in l:
    if type(i) == int or type(i) == float:
        l1.append(i)

print(l1)

[1, 2, 3, 4]

In [195]:
l2 = []

for i in l:
    if type(i) == list:
        l2.append(i)

print(l2)

[[34, 23, 45, 231]]

Write a function to put out all the integers from the list 'l'

In [196]:
l

[1, 2, 3, 4, 'anand', 'puru', [34, 23, 45, 231]]

In [197]:
def test7(l):

    l1 = []

    for i in l:
        if type(i) == int or type(i) == float:
            l1.append(i)
    
    return l1

In [198]:
l

[1, 2, 3, 4, 'anand', 'puru', [34, 23, 45, 231]]

In [199]:
l = [12,14,234,34645,34634,23425, 'anand', 'puru', [34, 23, 45, 231]]

In [200]:
test7(l)

[12, 14, 234, 34645, 34634, 23425]

In [201]:
l

[12, 14, 234, 34645, 34634, 23425, 'anand', 'puru', [34, 23, 45, 231]]

Put out all the integer values from the given list

In [202]:
def test8(a):
    
    l = []

    for i in a:
        if type(i) == list:
            for j in i:
                if type(j) == int:
                    l.append(j)
                else:
                    continue
        else:
            if type(i) == int or type(i) == float:
                l.append(i)
                
    
    return l

In [203]:
l

[12, 14, 234, 34645, 34634, 23425, 'anand', 'puru', [34, 23, 45, 231]]

In [204]:
test8(l)

[12, 14, 234, 34645, 34634, 23425, 34, 23, 45, 231]

In [205]:
l = [12,14,234,34645,34634,23425, 'anand', 'puru', [34, 23, "xyz", 45, 231]]

In [206]:
test8(l)

[12, 14, 234, 34645, 34634, 23425, 34, 23, 45, 231]