In [269]:
# ðŸ’» Update `Practice examples`

In [270]:
print("Checking print output")

Checking print output

In [271]:
l = [1,2,2323,2423,2523,2623]

In [272]:
len(l)

6

In [273]:
type(l)

list

In [274]:
for i in l :
    print(i)

1
2
2323
2423
2523
2623

In [275]:
l1 = []

for i in l:
    l1.append(i)

print(l1)

[1, 2, 2323, 2423, 2523, 2623]

In [276]:
l

[1, 2, 2323, 2423, 2523, 2623]

In [277]:
l1

[1, 2, 2323, 2423, 2523, 2623]

In [278]:
def test():
    pass

In [279]:
def test1():
    print("This is my first test function")

In [280]:
test1()

This is my first test function

In [281]:
# test1 + "puru"

Error = '''---------------------------------------------------------------------------
TypeError                                 Traceback (most recent call last)
Cell In[34], line 1
----> 1 test1 + "puru"

TypeError: unsupported operand type(s) for +: 'function' and 'str'
'''

In [282]:
def test2():
    return "This is my second function using Return type"

In [283]:
test2()

'This is my second function using Return type'

In [284]:
type(test2())

str

In [285]:
type(test1())

This is my first test function

NoneType

In [286]:
test2() + " - adding value : puru"

'This is my second function using Return type - adding value : puru'

In [287]:
def test3():
    
    return "puru", 1, 2, 3, [4, 5, 6, 7, 8, 9]

In [288]:
test3()

('puru', 1, 2, 3, [4, 5, 6, 7, 8, 9])

In [289]:
type(test3())

tuple

In [290]:
a,b,c,d,e = test3()

In [291]:
a

'puru'

In [292]:
b

1

In [293]:
c

2

In [294]:
d

3

In [295]:
e

[4, 5, 6, 7, 8, 9]

In [296]:
x = 5
y = 10

In [297]:
x

5

In [298]:
y

10

In [299]:
x, y = 1, 2

In [300]:
x

1

In [301]:
y

2

In [302]:
def test4():
    a = 5 + 6 / 7
    return a

In [303]:
test4()

5.857142857142857

In [304]:
test4() + 100

105.85714285714286

In [305]:
def test5(a, b, c):
    d = a + b / c
    return d

In [306]:
# test5()

Error = '''---------------------------------------------------------------------------
TypeError                                 Traceback (most recent call last)
Cell In[40], line 1
----> 1 test5()

TypeError: test5() missing 3 required positional arguments: 'a', 'b', and 'c'
'''

In [307]:
test5(100,200,2)

200.0

In [308]:
def test6(a, b):
    return a + b

In [309]:
test6(5, 10)

15

In [310]:
test6("puru", " anand")

'puru anand'

In [311]:
type(test6("puru", " anand"))

str

In [312]:
type(test6(1,2))

int

In [313]:
type(test6([1,2,3], [6,67,45]))

list

In [314]:
test6([1,2,3], [6,67,45])

[1, 2, 3, 6, 67, 45]

Put out all the integer values from the given list

In [315]:
l = [1,2,3,4, "anand", "puru", [34,23,45,231]]

In [316]:
l1 = []

for i in l:
    if type(i) == int or type(i) == float:
        l1.append(i)

print(l1)

[1, 2, 3, 4]

In [317]:
l2 = []

for i in l:
    if type(i) == list:
        l2.append(i)

print(l2)

[[34, 23, 45, 231]]

Write a function to put out all the integers from the list 'l'

In [318]:
l

[1, 2, 3, 4, 'anand', 'puru', [34, 23, 45, 231]]

In [319]:
def test7(l):

    l1 = []

    for i in l:
        if type(i) == int or type(i) == float:
            l1.append(i)
    
    return l1

In [320]:
l

[1, 2, 3, 4, 'anand', 'puru', [34, 23, 45, 231]]

In [321]:
l = [12,14,234,34645,34634,23425, 'anand', 'puru', [34, 23, 45, 231]]

In [322]:
test7(l)

[12, 14, 234, 34645, 34634, 23425]

In [323]:
l

[12, 14, 234, 34645, 34634, 23425, 'anand', 'puru', [34, 23, 45, 231]]

Put out all the integer values from the given list

In [324]:
def test8(a):
    
    l = []

    for i in a:
        if type(i) == list:
            for j in i:
                if type(j) == int:
                    l.append(j)
                else:
                    continue
        else:
            if type(i) == int or type(i) == float:
                l.append(i)
                
    
    return l

In [325]:
l

[12, 14, 234, 34645, 34634, 23425, 'anand', 'puru', [34, 23, 45, 231]]

In [326]:
test8(l)

[12, 14, 234, 34645, 34634, 23425, 34, 23, 45, 231]

In [327]:
l = [12,14,234,34645,34634,23425, 'anand', 'puru', [34, 23, "xyz", 45, 231]]

In [328]:
test8(l)

[12, 14, 234, 34645, 34634, 23425, 34, 23, 45, 231]

Creating "Docstring" of a Fucntion

In [329]:
def test9(a):
    """This is my function to extract numeric values from a list"""

    l = []

    for i in a:
        if type(i) == list:
            for j in i:
                if type(j) == int:
                    l.append(j)
                else:
                    continue
        else:
            if type(i) == int or type(i) == float:
                l.append(i)
                
    
    return l