In [419]:
# ðŸ’» Update `Practice examples`

In [420]:
print("Checking print output")

Checking print output

In [421]:
l = [1,2,2323,2423,2523,2623]

In [422]:
len(l)

6

In [423]:
type(l)

list

In [424]:
for i in l :
    print(i)

1
2
2323
2423
2523
2623

In [425]:
l1 = []

for i in l:
    l1.append(i)

print(l1)

[1, 2, 2323, 2423, 2523, 2623]

In [426]:
l

[1, 2, 2323, 2423, 2523, 2623]

In [427]:
l1

[1, 2, 2323, 2423, 2523, 2623]

In [428]:
def test():
    pass

In [429]:
def test1():
    print("This is my first test function")

In [430]:
test1()

This is my first test function

In [431]:
# test1 + "puru"

Error = '''---------------------------------------------------------------------------
TypeError                                 Traceback (most recent call last)
Cell In[34], line 1
----> 1 test1 + "puru"

TypeError: unsupported operand type(s) for +: 'function' and 'str'
'''

In [432]:
def test2():
    return "This is my second function using Return type"

In [433]:
test2()

'This is my second function using Return type'

In [434]:
type(test2())

str

In [435]:
type(test1())

This is my first test function

NoneType

In [436]:
test2() + " - adding value : puru"

'This is my second function using Return type - adding value : puru'

In [437]:
def test3():
    
    return "puru", 1, 2, 3, [4, 5, 6, 7, 8, 9]

In [438]:
test3()

('puru', 1, 2, 3, [4, 5, 6, 7, 8, 9])

In [439]:
type(test3())

tuple

In [440]:
a,b,c,d,e = test3()

In [441]:
a

'puru'

In [442]:
b

1

In [443]:
c

2

In [444]:
d

3

In [445]:
e

[4, 5, 6, 7, 8, 9]

In [446]:
x = 5
y = 10

In [447]:
x

5

In [448]:
y

10

In [449]:
x, y = 1, 2

In [450]:
x

1

In [451]:
y

2

In [452]:
def test4():
    a = 5 + 6 / 7
    return a

In [453]:
test4()

5.857142857142857

In [454]:
test4() + 100

105.85714285714286

In [455]:
def test5(a, b, c):
    d = a + b / c
    return d

In [456]:
# test5()

Error = '''---------------------------------------------------------------------------
TypeError                                 Traceback (most recent call last)
Cell In[40], line 1
----> 1 test5()

TypeError: test5() missing 3 required positional arguments: 'a', 'b', and 'c'
'''

In [457]:
test5(100,200,2)

200.0

In [458]:
def test6(a, b):
    return a + b

In [459]:
test6(5, 10)

15

In [460]:
test6("puru", " anand")

'puru anand'

In [461]:
type(test6("puru", " anand"))

str

In [462]:
type(test6(1,2))

int

In [463]:
type(test6([1,2,3], [6,67,45]))

list

In [464]:
test6([1,2,3], [6,67,45])

[1, 2, 3, 6, 67, 45]

Put out all the integer values from the given list

In [465]:
l = [1,2,3,4, "anand", "puru", [34,23,45,231]]

In [466]:
l1 = []

for i in l:
    if type(i) == int or type(i) == float:
        l1.append(i)

print(l1)

[1, 2, 3, 4]

In [467]:
l2 = []

for i in l:
    if type(i) == list:
        l2.append(i)

print(l2)

[[34, 23, 45, 231]]

Write a function to put out all the integers from the list 'l'

In [468]:
l

[1, 2, 3, 4, 'anand', 'puru', [34, 23, 45, 231]]

In [469]:
def test7(l):

    l1 = []

    for i in l:
        if type(i) == int or type(i) == float:
            l1.append(i)
    
    return l1

In [470]:
l

[1, 2, 3, 4, 'anand', 'puru', [34, 23, 45, 231]]

In [471]:
l = [12,14,234,34645,34634,23425, 'anand', 'puru', [34, 23, 45, 231]]

In [472]:
test7(l)

[12, 14, 234, 34645, 34634, 23425]

In [473]:
l

[12, 14, 234, 34645, 34634, 23425, 'anand', 'puru', [34, 23, 45, 231]]

Put out all the integer values from the given list

In [474]:
def test8(a):
    
    l = []

    for i in a:
        if type(i) == list:
            for j in i:
                if type(j) == int:
                    l.append(j)
                else:
                    continue
        else:
            if type(i) == int or type(i) == float:
                l.append(i)
                
    
    return l

In [475]:
l

[12, 14, 234, 34645, 34634, 23425, 'anand', 'puru', [34, 23, 45, 231]]

In [476]:
test8(l)

[12, 14, 234, 34645, 34634, 23425, 34, 23, 45, 231]

In [477]:
l = [12,14,234,34645,34634,23425, 'anand', 'puru', [34, 23, "xyz", 45, 231]]

In [478]:
test8(l)

[12, 14, 234, 34645, 34634, 23425, 34, 23, 45, 231]

Creating "Docstring" of a Fucntion

In [479]:
def test9(a):
    """This is my function to extract numeric values from a list"""

    l = []

    for i in a:
        if type(i) == list:
            for j in i:
                if type(j) == int:
                    l.append(j)
                else:
                    continue
        else:
            if type(i) == int or type(i) == float:
                l.append(i)
                
    
    return l

In [480]:
def test10(a, b):
    return a + b

Defining "Dynamic" input values for a Function
- Using '*' asterisk to do so : *args
- Standard keyword is 'args'
- We can use any other keyword other than 'args'

In [481]:
def test11(*args):
    return args

In [482]:
type(test11())

tuple

In [483]:
test11(1,2,3,43,44,45,)

(1, 2, 3, 43, 44, 45)

In [484]:
test11('abc', 'xyz', 1,2,3, [12,24,43])

('abc', 'xyz', 1, 2, 3, [12, 24, 43])

In [485]:
def test12(*puru):
    return puru

In [486]:
test12(1,2,23,23,24,234,324,32,432,532532)

(1, 2, 23, 23, 24, 234, 324, 32, 432, 532532)

In [487]:
def test13(*args, a):
    return args, a

In [488]:
# test13(1,2,2,3,4,5,6,7,8,9)

Error = '''---------------------------------------------------------------------------
TypeError                                 Traceback (most recent call last)
Cell In[339], line 1
----> 1 test13(1,2,2,3,4,5,6,7,8,9)

TypeError: test13() missing 1 required keyword-only argument: 'a'
---------------------------------------------------------------------------'''

In [489]:
test13(1,2,2,3,4,5,6,7,8,9, a = 10)

((1, 2, 2, 3, 4, 5, 6, 7, 8, 9), 10)

In [490]:
# def test14(a = 1, b = 2, c, d):
#     return a,b,c,d

Error = '''  Cell In[413], line 1
    def test14(a = 1, b = 2, c, d):
                             ^
SyntaxError: non-default argument follows default argument
'''

In [491]:
def test14(c, d, a = 1, b = 2):
    return a,b,c,d

In [492]:
# test14()

Error = '''---------------------------------------------------------------------------
TypeError                                 Traceback (most recent call last)
Cell In[416], line 1
----> 1 test14()

TypeError: test14() missing 2 required positional arguments: 'c' and 'd'
'''

In [493]:
test14(12,13)

(1, 2, 12, 13)

In [494]:
test14(2, 20, 200, 300)

(200, 300, 2, 20)

Using *kwargs for values in the form of Dictionary - Key : Value

In [496]:
def test15(**kwargs):
    return kwargs

In [497]:
test15()

{}

In [498]:
type(test15())

dict