In [499]:
# ðŸ’» Update `Practice examples`

In [500]:
print("Checking print output")

Checking print output

In [501]:
l = [1,2,2323,2423,2523,2623]

In [502]:
len(l)

6

In [503]:
type(l)

list

In [504]:
for i in l :
    print(i)

1
2
2323
2423
2523
2623

In [505]:
l1 = []

for i in l:
    l1.append(i)

print(l1)

[1, 2, 2323, 2423, 2523, 2623]

In [506]:
l

[1, 2, 2323, 2423, 2523, 2623]

In [507]:
l1

[1, 2, 2323, 2423, 2523, 2623]

In [508]:
def test():
    pass

In [509]:
def test1():
    print("This is my first test function")

In [510]:
test1()

This is my first test function

In [511]:
# test1 + "puru"

Error = '''---------------------------------------------------------------------------
TypeError                                 Traceback (most recent call last)
Cell In[34], line 1
----> 1 test1 + "puru"

TypeError: unsupported operand type(s) for +: 'function' and 'str'
'''

In [512]:
def test2():
    return "This is my second function using Return type"

In [513]:
test2()

'This is my second function using Return type'

In [514]:
type(test2())

str

In [515]:
type(test1())

This is my first test function

NoneType

In [516]:
test2() + " - adding value : puru"

'This is my second function using Return type - adding value : puru'

In [517]:
def test3():
    
    return "puru", 1, 2, 3, [4, 5, 6, 7, 8, 9]

In [518]:
test3()

('puru', 1, 2, 3, [4, 5, 6, 7, 8, 9])

In [519]:
type(test3())

tuple

In [520]:
a,b,c,d,e = test3()

In [521]:
a

'puru'

In [522]:
b

1

In [523]:
c

2

In [524]:
d

3

In [525]:
e

[4, 5, 6, 7, 8, 9]

In [526]:
x = 5
y = 10

In [527]:
x

5

In [528]:
y

10

In [529]:
x, y = 1, 2

In [530]:
x

1

In [531]:
y

2

In [532]:
def test4():
    a = 5 + 6 / 7
    return a

In [533]:
test4()

5.857142857142857

In [534]:
test4() + 100

105.85714285714286

In [535]:
def test5(a, b, c):
    d = a + b / c
    return d

In [536]:
# test5()

Error = '''---------------------------------------------------------------------------
TypeError                                 Traceback (most recent call last)
Cell In[40], line 1
----> 1 test5()

TypeError: test5() missing 3 required positional arguments: 'a', 'b', and 'c'
'''

In [537]:
test5(100,200,2)

200.0

In [538]:
def test6(a, b):
    return a + b

In [539]:
test6(5, 10)

15

In [540]:
test6("puru", " anand")

'puru anand'

In [541]:
type(test6("puru", " anand"))

str

In [542]:
type(test6(1,2))

int

In [543]:
type(test6([1,2,3], [6,67,45]))

list

In [544]:
test6([1,2,3], [6,67,45])

[1, 2, 3, 6, 67, 45]

Put out all the integer values from the given list

In [545]:
l = [1,2,3,4, "anand", "puru", [34,23,45,231]]

In [546]:
l1 = []

for i in l:
    if type(i) == int or type(i) == float:
        l1.append(i)

print(l1)

[1, 2, 3, 4]

In [547]:
l2 = []

for i in l:
    if type(i) == list:
        l2.append(i)

print(l2)

[[34, 23, 45, 231]]

Write a function to put out all the integers from the list 'l'

In [548]:
l

[1, 2, 3, 4, 'anand', 'puru', [34, 23, 45, 231]]

In [549]:
def test7(l):

    l1 = []

    for i in l:
        if type(i) == int or type(i) == float:
            l1.append(i)
    
    return l1

In [550]:
l

[1, 2, 3, 4, 'anand', 'puru', [34, 23, 45, 231]]

In [551]:
l = [12,14,234,34645,34634,23425, 'anand', 'puru', [34, 23, 45, 231]]

In [552]:
test7(l)

[12, 14, 234, 34645, 34634, 23425]

In [553]:
l

[12, 14, 234, 34645, 34634, 23425, 'anand', 'puru', [34, 23, 45, 231]]

Put out all the integer values from the given list

In [554]:
def test8(a):
    
    l = []

    for i in a:
        if type(i) == list:
            for j in i:
                if type(j) == int:
                    l.append(j)
                else:
                    continue
        else:
            if type(i) == int or type(i) == float:
                l.append(i)
                
    
    return l

In [555]:
l

[12, 14, 234, 34645, 34634, 23425, 'anand', 'puru', [34, 23, 45, 231]]

In [556]:
test8(l)

[12, 14, 234, 34645, 34634, 23425, 34, 23, 45, 231]

In [557]:
l = [12,14,234,34645,34634,23425, 'anand', 'puru', [34, 23, "xyz", 45, 231]]

In [558]:
test8(l)

[12, 14, 234, 34645, 34634, 23425, 34, 23, 45, 231]

Creating "Docstring" of a Fucntion

In [559]:
def test9(a):
    """This is my function to extract numeric values from a list"""

    l = []

    for i in a:
        if type(i) == list:
            for j in i:
                if type(j) == int:
                    l.append(j)
                else:
                    continue
        else:
            if type(i) == int or type(i) == float:
                l.append(i)
                
    
    return l

In [560]:
def test10(a, b):
    return a + b

Defining "Dynamic" input values for a Function
- Using '*' asterisk to do so : *args
- Standard keyword is 'args'
- We can use any other keyword other than 'args'

In [561]:
def test11(*args):
    return args

In [562]:
type(test11())

tuple

In [563]:
test11(1,2,3,43,44,45,)

(1, 2, 3, 43, 44, 45)

In [564]:
test11('abc', 'xyz', 1,2,3, [12,24,43])

('abc', 'xyz', 1, 2, 3, [12, 24, 43])

In [565]:
def test12(*puru):
    return puru

In [566]:
test12(1,2,23,23,24,234,324,32,432,532532)

(1, 2, 23, 23, 24, 234, 324, 32, 432, 532532)

In [567]:
def test13(*args, a):
    return args, a

In [568]:
# test13(1,2,2,3,4,5,6,7,8,9)

Error = '''---------------------------------------------------------------------------
TypeError                                 Traceback (most recent call last)
Cell In[339], line 1
----> 1 test13(1,2,2,3,4,5,6,7,8,9)

TypeError: test13() missing 1 required keyword-only argument: 'a'
---------------------------------------------------------------------------'''

In [569]:
test13(1,2,2,3,4,5,6,7,8,9, a = 10)

((1, 2, 2, 3, 4, 5, 6, 7, 8, 9), 10)

In [570]:
# def test14(a = 1, b = 2, c, d):
#     return a,b,c,d

Error = '''  Cell In[413], line 1
    def test14(a = 1, b = 2, c, d):
                             ^
SyntaxError: non-default argument follows default argument
'''

In [571]:
def test14(c, d, a = 1, b = 2):
    return a,b,c,d

In [572]:
# test14()

Error = '''---------------------------------------------------------------------------
TypeError                                 Traceback (most recent call last)
Cell In[416], line 1
----> 1 test14()

TypeError: test14() missing 2 required positional arguments: 'c' and 'd'
'''

In [573]:
test14(12,13)

(1, 2, 12, 13)

In [574]:
test14(2, 20, 200, 300)

(200, 300, 2, 20)

Using *kwargs for values in the form of Dictionary - Key : Value

In [575]:
def test15(**kwargs):
    return kwargs

In [576]:
test15()

{}

In [577]:
type(test15())

dict

In [578]:
test15(a = 1, b = "anand", c = [12,123,234])

{'a': 1, 'b': 'anand', 'c': [12, 123, 234]}

-----------------
# PRACTICE ENDS