In [207]:
# ðŸ’» Update `Practice examples`

In [208]:
print("Checking print output")

Checking print output

In [209]:
l = [1,2,2323,2423,2523,2623]

In [210]:
len(l)

6

In [211]:
type(l)

list

In [212]:
for i in l :
    print(i)

1
2
2323
2423
2523
2623

In [213]:
l1 = []

for i in l:
    l1.append(i)

print(l1)

[1, 2, 2323, 2423, 2523, 2623]

In [214]:
l

[1, 2, 2323, 2423, 2523, 2623]

In [215]:
l1

[1, 2, 2323, 2423, 2523, 2623]

In [216]:
def test():
    pass

In [217]:
def test1():
    print("This is my first test function")

In [218]:
test1()

This is my first test function

In [219]:
# test1 + "puru"

Error = '''---------------------------------------------------------------------------
TypeError                                 Traceback (most recent call last)
Cell In[34], line 1
----> 1 test1 + "puru"

TypeError: unsupported operand type(s) for +: 'function' and 'str'
'''

In [220]:
def test2():
    return "This is my second function using Return type"

In [221]:
test2()

'This is my second function using Return type'

In [222]:
type(test2())

str

In [223]:
type(test1())

This is my first test function

NoneType

In [224]:
test2() + " - adding value : puru"

'This is my second function using Return type - adding value : puru'

In [225]:
def test3():
    
    return "puru", 1, 2, 3, [4, 5, 6, 7, 8, 9]

In [226]:
test3()

('puru', 1, 2, 3, [4, 5, 6, 7, 8, 9])

In [227]:
type(test3())

tuple

In [228]:
a,b,c,d,e = test3()

In [229]:
a

'puru'

In [230]:
b

1

In [231]:
c

2

In [232]:
d

3

In [233]:
e

[4, 5, 6, 7, 8, 9]

In [234]:
x = 5
y = 10

In [235]:
x

5

In [236]:
y

10

In [237]:
x, y = 1, 2

In [238]:
x

1

In [239]:
y

2

In [240]:
def test4():
    a = 5 + 6 / 7
    return a

In [241]:
test4()

5.857142857142857

In [242]:
test4() + 100

105.85714285714286

In [243]:
def test5(a, b, c):
    d = a + b / c
    return d

In [244]:
# test5()

Error = '''---------------------------------------------------------------------------
TypeError                                 Traceback (most recent call last)
Cell In[40], line 1
----> 1 test5()

TypeError: test5() missing 3 required positional arguments: 'a', 'b', and 'c'
'''

In [245]:
test5(100,200,2)

200.0

In [246]:
def test6(a, b):
    return a + b

In [247]:
test6(5, 10)

15

In [248]:
test6("puru", " anand")

'puru anand'

In [249]:
type(test6("puru", " anand"))

str

In [250]:
type(test6(1,2))

int

In [251]:
type(test6([1,2,3], [6,67,45]))

list

In [252]:
test6([1,2,3], [6,67,45])

[1, 2, 3, 6, 67, 45]

Put out all the integer values from the given list

In [253]:
l = [1,2,3,4, "anand", "puru", [34,23,45,231]]

In [254]:
l1 = []

for i in l:
    if type(i) == int or type(i) == float:
        l1.append(i)

print(l1)

[1, 2, 3, 4]

In [255]:
l2 = []

for i in l:
    if type(i) == list:
        l2.append(i)

print(l2)

[[34, 23, 45, 231]]

Write a function to put out all the integers from the list 'l'

In [256]:
l

[1, 2, 3, 4, 'anand', 'puru', [34, 23, 45, 231]]

In [257]:
def test7(l):

    l1 = []

    for i in l:
        if type(i) == int or type(i) == float:
            l1.append(i)
    
    return l1

In [258]:
l

[1, 2, 3, 4, 'anand', 'puru', [34, 23, 45, 231]]

In [259]:
l = [12,14,234,34645,34634,23425, 'anand', 'puru', [34, 23, 45, 231]]

In [260]:
test7(l)

[12, 14, 234, 34645, 34634, 23425]

In [261]:
l

[12, 14, 234, 34645, 34634, 23425, 'anand', 'puru', [34, 23, 45, 231]]

Put out all the integer values from the given list

In [262]:
def test8(a):
    
    l = []

    for i in a:
        if type(i) == list:
            for j in i:
                if type(j) == int:
                    l.append(j)
                else:
                    continue
        else:
            if type(i) == int or type(i) == float:
                l.append(i)
                
    
    return l

In [263]:
l

[12, 14, 234, 34645, 34634, 23425, 'anand', 'puru', [34, 23, 45, 231]]

In [264]:
test8(l)

[12, 14, 234, 34645, 34634, 23425, 34, 23, 45, 231]

In [265]:
l = [12,14,234,34645,34634,23425, 'anand', 'puru', [34, 23, "xyz", 45, 231]]

In [266]:
test8(l)

[12, 14, 234, 34645, 34634, 23425, 34, 23, 45, 231]

In [267]:
test8()

TypeError: test8() missing 1 required positional argument: 'a'