In [5]:
x = 'Welcome Purushottam to IIT Delhi AI-ML Course'
y = "It is a check for Commit & Push Request created by DataSpell app"
print (x)
print(y)

Welcome Purushottam to IIT Delhi AI-ML Course
It is a check for Commit & Push Request created by DataSpell app

In [2]:
y = 16
print(y)

16

In [3]:
print(type(x))
print(type(y))

<class 'str'>
<class 'int'>

In [4]:
f = 16.12
b = True

In [5]:
print(type(f))
print(type(b))

<class 'float'>
<class 'bool'>

In [6]:
print(type('16'))

<class 'str'>

In [7]:
x = 3;y = 4;z = 100

In [8]:
x + y

7

In [9]:
x - y

-1

In [10]:
x * y

12

In [11]:
x / y
# used for normal division method or say used to find Quotient

0.75

In [12]:
x ** y
# used to find Exponential

81

In [13]:
x % y
# used to find Reminders

3

In [14]:
x

3

In [15]:
y

4

In [16]:
z / x

33.333333333333336

In [17]:
z // x
# divides but takes floor value

33

In [18]:
a = 5
b = 7

In [19]:
print(a==5)
print(b==6)

True
False

In [20]:
a = 'hi'
b = ' hello'

In [21]:
print(a)
print(b)

hi
 hello

In [22]:
print(a + b)

hi hello

In [23]:
a = '2'
# print(a + 1) --> TypeError: can only concatenate str (not "int") to str
print(int(a) + 1)

3

In [24]:
a = "Hi "

In [25]:
a * 3

'Hi Hi Hi '

In [26]:
name = input("What's your name ?")

In [27]:
print(name)

a

In [28]:
print("Nice to meet you ", name, "!")

Nice to meet you  a !

In [29]:
age = input("What's your age ?")

In [30]:
print(age)

1

In [31]:
print(type(name))
print(type(age))

<class 'str'>
<class 'str'>

In [32]:
# Syntax for Creating Lists

lst = [1, 2, 'a', 10.0, True]

In [33]:
print(lst)

[1, 2, 'a', 10.0, True]

In [34]:
print(type(lst))

<class 'list'>

In [35]:
#   --> Conditional statements ( If & Else ) starts from here

In [36]:
x = input("Write any number between 0 to 99 : ")
print(type(x))
y = int(x)
if y % 2 == 0:
    print(y, " is even")
else:
    print(y, " is odd")
print(type(y))

<class 'str'>
1  is odd
<class 'int'>

In [37]:
x = input("Write any number between 0 to 10 : ")
y = int(x)
if y < 10:
    print(x, " is smaller than 10")
if y > 0 :
    print(x, " is greater than 0")

1  is smaller than 10
1  is greater than 0

In [38]:
x = input("Write any number between 0 to 10 : ")
y = int(x)
if 10 > y > 0:
    print(y, " is smaller than 10")
    print(y, " is greater than 0")

1  is smaller than 10
1  is greater than 0

In [39]:
# Using if else statement as a condition -->

x = int(input("1st Input = Write any number between 0 to 20 : "))
y = int(input("2nd Input = Write any number between 0 to 20 : "))
#x1 = int(x)
#y1 = int(y)

if x <= 20 and y <= 20 :
    if x < y :
        print(x, " is less than ", y)
    elif x > y :
        print(x, " is greater than ", y)
    else :
        print(x, "&", y, " are equal ")

else :
    print("Oops, you have entered the wrong value !!!")

1 & 1  are equal

In [40]:
x = 6
if not (x>5) :
    print("x is less than 5")
if not (x<5) :
    print("x is greater than 5")

x is greater than 5

In [41]:
# Using Iterative Constructs --> While & For Loop

In [42]:
n = int(input("Enter total number of students : "))

c = 1
while c <= n :
    print("Enter Marks of Student ", c, ": ")
    m1 = int(input("Enter Marks 1 : "))
    m2 = int(input("Enter Marks 2 : "))
    m3 = int(input("Enter Marks 3 : "))
    total = m1 + m2 + m3
    average = total/3

    if average >= 90 :
        print("Congrats ! You have got 1st Division !!!\n")
    elif 70 <= average < 90 :
        print("Congrats ! You have got 2nd Division !!!\n")
    else:
        print("Congrats ! You have got 3rd Division !!!\n")
    c = c + 1

Enter Marks of Student  1 :
Congrats ! You have got 3rd Division !!!

In [43]:
# Given a list of numbers, find the number of elements in the list and calculate the mean value
# using 'for' loop for pre-defined value

numlist = [10, 20, 30, 40, 50]

counter = 0
sum = 0

for element in numlist:
  counter = counter + 1
  sum = sum + element

Mean = round(sum/counter, 2)
print("Number of Elements in the list are : ", counter)
print("Sum is : ", sum)
print ("Mean of elements is : ", Mean)

Number of Elements in the list are :  5
Sum is :  150
Mean of elements is :  30.0

In [6]:
# Take input from user and find the number of elements in the list and calculate the mean value
# using 'While' loop to take input from user

n = int(input("You want to find Mean of how many numbers ? : "))

sumofnumlist = 0
count = 1
while count <= n :
  print("Enter number", count)
  numlist = int(input())
  print("You have entered : ", numlist, " \n")
  sumofnumlist = sumofnumlist + numlist
  count = count + 1

Mean = round(sumofnumlist/n, 2)
print("Find the Mean of numbers below : --> \nNumber of Elements in the list are : ", n)
print("Sum is : ", sumofnumlist)
print ("Mean of elements is : ", Mean)

Enter number 1
You have entered :  1

Enter number 2
You have entered :  2

Find the Mean of numbers below : -->
Number of Elements in the list are :  2
Sum is :  3
Mean of elements is :  1.5