In [2]:
x = 'Hello Purushottam to IIT Delhi'
print (x)

Hello Purushottam to IIT Delhi

In [3]:
y = 16
print(y)

16

In [4]:
print(type(x))
print(type(y))

<class 'str'>
<class 'int'>

In [5]:
f = 16.12
b = True

In [6]:
print(type(f))
print(type(b))

<class 'float'>
<class 'bool'>

In [7]:
print(type('16'))

<class 'str'>

In [8]:
x = 3;y = 4;z = 100

In [9]:
x + y

7

In [10]:
x - y

-1

In [11]:
x * y

12

In [12]:
x / y
# used for normal division method or say used to find Quotient

0.75

In [13]:
x ** y
# used to find Exponential

81

In [14]:
x % y
# used to find Reminders

3

In [15]:
x

3

In [16]:
y

4

In [17]:
z / x

33.333333333333336

In [18]:
z // x
# divides but takes floor value

33

In [19]:
a = 5
b = 7

In [20]:
print(a==5)
print(b==6)

True
False

In [21]:
a = 'hi'
b = ' hello'

In [22]:
print(a)
print(b)

hi
 hello

In [23]:
print(a + b)

hi hello

In [24]:
a = '2'
# print(a + 1) --> TypeError: can only concatenate str (not "int") to str
print(int(a) + 1)

3

In [25]:
a = "Hi "

In [26]:
a * 3

'Hi Hi Hi '

In [27]:
name = input("What's your name ?")

In [28]:
print(name)

Purushottam

In [29]:
print("Nice to meet you ", name, "!")

Nice to meet you  Purushottam !

In [30]:
age = input("What's your age ?")

In [31]:
print(age)

27

In [32]:
print(type(name))
print(type(age))

<class 'str'>
<class 'str'>

In [33]:
# Syntax for Creating Lists

lst = [1, 2, 'a', 10.0, True]

In [34]:
print(lst)

[1, 2, 'a', 10.0, True]

In [35]:
print(type(lst))

<class 'list'>

In [36]:
#   --> Conditional statements ( If & Else ) starts from here

In [37]:
x = input("Write any number between 0 to 99 : ")
print(type(x))
y = int(x)
if y % 2 == 0:
    print(y, " is even")
else:
    print(y, " is odd")
print(type(y))

<class 'str'>
16  is even
<class 'int'>

In [38]:
x = input("Write any number between 0 to 10 : ")
y = int(x)
if y < 10:
    print(x, " is smaller than 10")
if y > 0 :
    print(x, " is greater than 0")

7  is smaller than 10
7  is greater than 0

In [39]:
x = input("Write any number between 0 to 10 : ")
y = int(x)
if 10 > y > 0:
    print(y, " is smaller than 10")
    print(y, " is greater than 0")

7  is smaller than 10
7  is greater than 0

In [40]:
# Using if else statement as a condition -->

x = int(input("1st Input = Write any number between 0 to 20 : "))
y = int(input("2nd Input = Write any number between 0 to 20 : "))
#x1 = int(x)
#y1 = int(y)

if x <= 20 and y <= 20 :
    if x < y :
        print(x, " is less than ", y)
    elif x > y :
        print(x, " is greater than ", y)
    else :
        print(x, "&", y, " are equal ")

else :
    print("Oops, you have entered the wrong value !!!")

Oops, you have entered the wrong value !!!

In [41]:
x = 6
if not (x>5) :
    print("x is less than 5")
if not (x<5) :
    print("x is greater than 5")

x is greater than 5

In [42]:
# Using Iterative Constructs --> While & For Loop

In [44]:
n = int(input("Enter total number of students : "))

c = 1
while c <= n :
    print("Enter Marks of Student ", c, ": ")
    m1 = int(input("Enter Marks 1 : "))
    m2 = int(input("Enter Marks 2 : "))
    m3 = int(input("Enter Marks 3 : "))
    total = m1 + m2 + m3
    average = total/3

    if average >= 90 :
        print("Congrats ! You have got 1st Division !!!\n")
    elif 70 <= average < 90 :
        print("Congrats ! You have got 2nd Division !!!\n")
    else:
        print("Congrats ! You have got 3rd Division !!!\n")
    c = c + 1

Enter Marks of Student  1 :
Congrats ! You have got 1st Division !!!

Enter Marks of Student  2 :
Congrats ! You have got 3rd Division !!!